<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Panda\Category\Api\Data\CategoryInterface" type="Panda\Category\Model\Category" />
    <preference for="Panda\Category\Api\Data\CategoryRepositoryInterface" type="Panda\Category\Model\CategoryRepository"/>
</config>
